@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f3f3f3;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #e5e5e5;
}

header {
  background-color: #00669f;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 999;
  box-shadow: 2px 1px 3px 1px rgb(0 0 0 / 30%);
}

h1 {
  font-size: 2rem;
  padding: 2rem 0.5rem 2rem 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  padding: 10px 0px;
}

.logo a:hover {
  background-color: #e5e5e5;
}

header > div {
  background-color: #001d2d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 15px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding: 3px;
}

nav ul li {
  margin-right: 25px;
  display: inline-block;
}

nav ul li a {
  padding: 7px;
}
nav ul li a:hover {
  border: 1px solid white;
}

nav ul li a:active {
  border: 1px solid white;
  background-color: #00669f;
}

.info {
  background-color: #1cd1b0;
}

.icono-menu {
  display: none;
  color: white;
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
  color: #000000;
  font-weight: 400;
  font-style: normal;
  padding: 0.65rem;
}

.contenedor {
  margin: 0px auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 19rem;
  background-color: #f3f3f3;
  box-shadow: 3px 3px 1.5px rgb(0, 0, 0, 20%);
  margin: 6.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.quinn {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-img-batman {
  background-color: #f3f3f3;
  background-image: url(../img/bg_batman.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  height: 12rem;
  width: 100%;
  padding: 1rem;
}

.card-img-quinn {
  background-color: #f3f3f3;
  background-image: url("../img/bg_quinn.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  height: 12rem;
  width: 100%;
  padding: 1rem;
}

.card-text {
  color: #333333;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

h2 {
  color: black;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

.card h2 {
  margin-top: 40px;
}

.card h2::before {
  content: "\f0e7";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 1.4rem;
  margin-right: 7px;
}

.card-button {
  background-color: #00669f;
  color: #f3f3f3;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  padding: 0.9rem 2.2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}

.card-button:hover {
  background-color: #001d2d;
}

.icon-heart {
  font-size: 1.6rem;
  color: #cc2424;
}

footer {
  background-color: #00669f;
  color: #fff9f9;
  padding: 1rem;
  font-size: 1rem;
}

.img-avatar {
  width: 119px;
  border-radius: 50%;
  padding: 1px;
  background-color: black;
  box-shadow: 2px 1px 3px 1px rgb(0 0 0 / 30%);
  position: absolute;
  top: -3.8rem;
}

/* Login */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0px auto;
  padding: 50px 80px 50px 80px;
}

.login h2 {
  font-family: "Inter", sans-serif;
  align-self: flex-start;
  color: #333;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  margin-left: 85px;
}

form {
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0px;
  width: 70%;
  color: #000000;
}

form > div {
  width: 100%;
}

input,
label,
select {
  width: 100%;
  padding: 10px;
  display: inline-block;
}

input:focus,
select:focus,
textarea:focus {
  outline: 2px solid #1cd1b0;
}

textarea {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 10px;
}

input[type="submit"],
input[type="reset"] {
  margin: 15px 0px;
  border: none;
}

.botonera-partida {
  display: flex;
  justify-content: space-around;ß
}

.botonera-partida input {
  width: 47.5%;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  cursor: pointer;
  color: white;
}

input[type="submit"] {
  background-color: #1cd1b0;
  color: black;
  font-weight: 700;
  border-radius: 15px;
}

input[type="reset"] {
  background-color: #888888;
  color: black;
  font-weight: 700;
  border-radius: 15px;
}

input[type="text"],
textarea {
  border: 1px solid black;
}

form > div {
  margin: 8px 0px;
}

.login p {
  font-family: "Karla", sans-serif;
  color: #00669f;
  font-size: 1.35rem;
  font-weight: 400;
}

.login p a {
  color: #333;
}

.login p a:hover{
  color: #1cd1b0;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin: 4rem 0rem 1rem 0rem;
  }

  footer {
    margin-top: 3rem;
  }

  .contenedor {
    flex-direction: column;
  }

  .login {
    margin: 0px auto;
    width: 85%;
  }

  .login h2 {
    margin-left: 60px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
    margin: 3rem 0rem 0.75rem 0rem;
  }

  footer {
    margin-top: 2.3rem;
  }

  h1 {
    text-align: center;
    font-size: 1.8rem;
  }

  .logo img {
    margin-left: 5px;
  }

  .info {
    text-align: center;
  }

  nav ul li {
    display: none;
  }

  .icono-menu {
    display: inline-block;
  }

  .login {
    width: 100%;
    margin: 35px auto 0px auto;
    padding: 5px;
  }

  .login p {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .login h2 {
    font-size: 2rem;
    align-self: center;
    padding: 0px;
    margin: 0px;
  }

  form {
    margin: 0px;
  }
}
