body {
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
}

header {
    background-color: #E5E5E5;
    text-align: center;
}

header img {
  margin-top: 25px;
}

footer {
  background-color: #005677;
  text-align: center;
}

footer p {
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

h1, h2 {
  background-color: #c4c4c4;
  color: #005677;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 5px;
}

h1 {
  font-size: 35px;
}

h2 {
    font-size: 20px;
   
}

ul {
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

dl {
    font-size: 15px;
    line-height: 23px;
    margin-left: 25px;
}

dd { 
  margin-left: 71.5px;
}

.div-container {
  background-color: white;
  margin: 0 auto;
  width: 70%;
}


span {
    font-weight: 700;
    margin-right:2.5px;
}

.personal span {
  font-style: italic;
}

.icono-social {
  color: white;
  margin: 5px;
}