body {
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
}

header {
    background-color: #E5E5E5;
    text-align: center;
}

header img {
  margin-top: 20px;
}

footer {
  background-color: #005677;
  text-align: center;
}

footer p {
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  background-color: #c4c4c4;
  color: #005677;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 5px;
  padding: 5px;
}

h2 {
    background-color: #C4C4C4;
    text-transform: uppercase;
    color: #005677;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 5px;
}

ul {
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

dl {
    font-size: 15px;
    line-height: 23px;
}

dd { 
  padding-left: 34px;
}

.div-container {
  background-color: white;
  margin: 0 auto;
  width: 70%;
}


.negrita-italic {
  font-weight: bold;
  font-style: italic;
}

.negrita {
    font-weight: bold;
    padding-right: 4px;
}

.fab {
  color: white;
  padding: 5px;
}