/* Fuentes */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Estilos Generales */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

li {
  margin-right: 12px;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #3c2313;
  padding: 0px 5px;
}

h2 {
  color: #3c2313;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
}

h3 {
  padding: 20px 10px 5px 10px;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #fff;
  padding: 0px 5px;
}

/*  Estilos Header */

.header-div-top {
  background-color: #222222;
  color: #f3f3f3;
  font-size: 0.65rem;
  font-weight: 400;
  line-height: 0.75rem;
  padding: 5px 50px 5px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-div-top p {
  display: inline-block;
  margin-right: 7px;
}

.header-div-nav {
  background-color: #f0a83e;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header-div-nav ul {
  display: flex;
}

.logo-top {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.icono-menu {
  display: none;
  color: #fff;
  font-size: 1.5rem;
}

nav {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1rem;
  padding-top: 3px;
}

/* Estilos de Iconos Header */

.icon-top {
  color: white;
  font-size: 0.65rem;
  margin-left: 4px;
}

.icon-nav {
  color: white;
  font-size: 1rem;
  margin-right: 3px;
}

/* Estilos Main */

h1 span {
  color: white;
}

main ul {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

main li {
  color: #666666;
  font-size: 1rem;
  font-weight: 400;
  line-height: 17.5px;
  margin-right: 10px;
}

.heroe {
  background-color: #88cda5;
  background-image: url("../img/heroe.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  height: 409px;
  display: flex;
}

.heroe a {
  background-color: #f0a83e;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 20px;
  padding: 15px 25px;
  border-radius: 8px;
}

.heroe p {
  color: #3c2313;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  padding: 15px;
  text-align: center;
}

.heroe > div {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


p.bienvenida {
  font-size: 1.875rem;
  color: #3c2313;
  background-color: #fff;
  padding: 12px 7px;
  border-radius: 7px;
  line-height: 2.2rem;
  text-align: center;
}

.productos {
  font-size: 1rem;
  font-weight: 500;
  color: #3c2313;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.productos > div {
  display: flex;
}

.productos > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  background-color: #fbfaf6;
}

.productos > div > div > p {
  margin-bottom: 15px;
}

.productos .precio {
  color: #f0a83e;
}

.bienvenida {
  font-size: 1.9rem;
}

/* Estilos de Iconos Main */
.icon-main {
  color: #f0a83e;
  font-size: 3.75rem;
  margin-bottom: 15px;
  margin-top: 25px;
}

/* Estilos Footer */

footer p {
  color: #8a8787;
  font-size: 0.65rem;
  font-weight: 700;
  line-height: 0.75rem;
  margin-left: 39px;
}

.footer-top {
  background-color: #f0a83e;
}

.footer-top h3 {
  padding: 20px;
}

.footer-main {
  background-color: #3c2313;
  padding: 10px 0px 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.datoscontacto {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-bottom {
  background-color: #222222;
  padding: 5px 0px;
  text-align: center;
}

.footer-bottom p {
  color: white;
}

.logo-footer a {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 35px;
}

h4 span {
  color: #f0a83e;
}

/* Estilos de Iconos Footer */

.icon {
  font-size: 1rem;
  margin-right: 15px;
}

@media screen and (max-width:768px) {


.productos > div {
  display: flex;
  flex-direction: column;
}

.saludo  {
  margin-right: 40px;
}

}

@media screen and (max-width: 480px) {
  .header-div-top {
    display: none;
  }

  .icono-menu {
    display: inline-block;
    margin-right: 20px;
  }

  nav {
    display: none;
  }

  .footer-main {
    padding: 10px 0px 30px 10px;
    flex-direction: column-reverse;
  }

  footer p {
    margin-left: 0px;
  }

  .datoscontacto {
    width: 85%;
  }

  .productos {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .productos > div {
    flex-direction: column;
  }

  .logo-footer a {
    margin: 25px 0px;
  }

  .saludo {
    display: flex;
    flex-grow: 1;
  }

  .heroe > div {
    width: 0%;
  }

  .heroe a {
    align-self: flex-end;
    margin-right: 30px;
  }

  .bienvenida {
    align-self: center;
  }

  .heroe {
    background-position: left;
  }

  .saludo  {
    margin-right: 0;
  }

  .productos h2 {
    
      font-size: 2rem;
      font-weight: 700;
      line-height: 3rem;
      text-align: center;
      padding: 0px 10px;
    }
  }
  
  

